<div id="contentGrupal">
  <div id="header">titulo xd</div>
  <div id="conversaciones">
    <div
      *ngFor="let mensaje of test; index as i"
      [ngClass]="{
        right: mensaje.idUser == idLogged,
        left: mensaje.idUser != idLogged
      }"
    >
      <div
        style="
          display: flex;
          margin-right: 1%;
          margin-top: 5px;
          flex-direction: column;
          align-items: flex-end;
          width: 100%;
        "
        class="contentRight"
      >
        <div class="boxName">
          <span *ngIf="mensaje.estaRoleando"
            >{{ mensaje.characterName }} - {{ mensaje.username }}
          </span>
          <span *ngIf="!mensaje.estaRoleando">{{ mensaje.username }} </span>
        </div>
        <div
          [style.background-color]="mensaje.colorCharacter"
          class="contentMessage"
          [innerHtml]="mensaje.message.replaceAll('\n', '<br>')"
        ></div>
      </div>
      <img
        src="{{ mensaje.urlCharacterImage }}"
        width="12%"
        height="100%"
        style="border-radius: 20px"
        [ngClass]="{
          show:
            test[i - 1] != undefined && test[i - 1].idUser != test[i].idUser,
          hide: test[i - 1] != undefined && test[i - 1].idUser == test[i].idUser
        }"
      />

      <div class="contentLeft">
        <div
          class="boxName"
          [ngClass]="{
            show:
              test[i - 1] != undefined && test[i - 1].idUser != test[i].idUser,
            hide:
              test[i - 1] != undefined && test[i - 1].idUser == test[i].idUser
          }"
        >
          <span *ngIf="mensaje.estaRoleando"
            >{{ mensaje.characterName }} - {{ mensaje.username }}
          </span>
          <span *ngIf="!mensaje.estaRoleando">{{ mensaje.username }} </span>
        </div>
        <div
          [style.background-color]="mensaje.colorCharacter"
          class="contentMessage"
          [innerHtml]="mensaje.message.replaceAll('\n', '<br>')"
        ></div>
      </div>
    </div>
  </div>
</div>
